<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>
  <header>
    <% include ../partials/employee-navigation %>
  </header>
  <!-- Begin page content -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        <% include ../partials/alert %>
      </div>
    </div>
  </main>
</body>
<% include ../partials/footer %>

</html>