<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>
  <header>
    <% include ../partials/navigation %>
  </header>
  <!-- Begin page content -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mt-5">Add Position</h1>
        <% include ../partials/alert %>
        <form action="/position/add" method="POST">
          <div class="form-group">
            <label for="name">Project Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="clientName">Client Name</label>
            <input type="text" class="form-control" id="clientName" name="clientName">
          </div>
          <div class="form-group">
            <label for="technologies">Technologies</label>
            <input type="text" class="form-control" id="technologies" name="technologies"
              placeholder="Enter comma seprated name">
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" id="role" name="role">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="3" class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status">
              <option>Select Status</option>
              <option value="1">Open</option>
              <option value="2">Closed</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
    <br/>
  </main>
</body>
<% include ../partials/footer %>

</html>